.big-rect {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: -118vh;
    margin-left: 22%;
}

.top-head {
    font-family: 'Franklin Gothic Medium';
    font-size: larger;
}

.xs-main-rect {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 18vh;
}

.xs-rect {
    display: flex;
    flex-direction: column;
    width: 18%;
    min-height: 12vh;
    border-radius: 25px;
    margin-left: 12.5%;
    margin-top: 20px;
    background-color: rgb(227, 227, 227);
}

.student {
    font-family: Arial;
    font-size: 22px;
    padding-left: 4px;
    color: rgba(201, 201, 2, 0.99);
}

.std-icon {
    margin-left: 60%;
    margin-top: -28px;
    padding: 2px;
}

.quantity {
    font-family: Arial;
    font-size: 32px;
    margin-left: 10%;
    margin-top: -34px;
}

.m-main-rect {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 40vh;
    margin-top: 5px;
}

.m-rect {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 32vh;
    border-radius: 25px;
    margin-left: 11.5%;
    margin-top: 60px;
    padding: 12px;
    background-color: rgb(227, 227, 227);
}

.tp {
    font-family: Arial;
    font-size: 22px;
    padding-left: 4px;
}

.rect-image {
    height: 20vh;
    margin-left: 7%;
    padding: 2px;
}

.id-icon1 {
    position: relative;
    width: 10%;
    height: 20px;
    background-color: rgb(94, 170, 228);
    margin-top: -130px;
    margin-left: 65%;
    border-radius: 2px;
}

.id-icon2 {
    position: relative;
    width: 10%;
    height: 20px;
    background-color: rgb(228, 94, 107);
    margin-top: 30px;
    margin-left: 65%;
    border-radius: 2px;
}

.id-nm {
    font-family: Arial;
}

.lbl-1 {
    display: flex;
    width: 90%;
    height: 40px;
    background-color: rgb(192, 192, 192);
    margin: auto;
    border-radius: 50px;
    flex-direction: row;
    margin-top: 0px;
    text-align: center;
}

.lbl-2 {
    display: flex;
    width: 90%;
    height: 40px;
    background-color: rgb(192, 192, 192);
    margin: auto;
    border-radius: 50px;
    flex-direction: row;
    margin-top: -1px;
    text-align: center;
}

.lbl-icon {
    width: 10%;
    height: 30px;
    margin-top: 5px;
    margin-left: 5%;
}

.lbl-detail {
    font-family: Arial;
    margin-top: -10px;
    margin-left: 5%;
}
