.main-main-main-class{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.top-top-head-bar-rect{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 0, 79);
    align-items: center;
}
.top-question_icon{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 2%;
    width: 180px;
    align-items:center;
}

.top-email_icon{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
    align-items: center;
}

.top-enroll_icon{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: auto;
    padding: 5px;
    margin-right: 3%;
    align-items: center;
}

.top-question_icon a,
.top-email_icon a,
.top-enroll_icon a,
.navbar-txt-main-rect a,
.navbar-txt-main-rect1 a,
.talk-expert-txt-rect a{
    text-decoration: none; /* Removes the underline */
}


.q-icon{
    cursor: pointer;
    width: 40px;
    margin-top: 8%;
}

.m-icon{
    cursor: pointer;
    width: 50px;
    border-radius: 50px;
    margin-top: 3%;
}

.any-q-txt{
    font-family: 'Arial';
    font-size: small;
    color: white;
    cursor: pointer;
    width: 120px;
    font-weight: 100;
    margin-top: -30px;
    margin-left: 35%;
}

.admin-sup-txt{
    font-family: 'Arial';
    font-size: small;
    color: white;
    cursor: pointer;
    width: 180px;
    font-weight: 100;
    margin-top: -36px;
    margin-left: 30%;
}
.few-seat-txt{
    font-family: 'Arial';
    font-size: small;
    color: white;
    cursor: pointer;
}
.enroll-now-txt{
    font-family: 'Arial';
    font-size: medium;
    color: rgb(124, 207, 0);
    cursor: pointer;
    padding-left: 5px;
}
.top-head-main-bar-rect{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 10vh;
    align-items: center;
}

.campus-logo-icon-rect{
    width: 10%;
    margin-left: 2%;
    padding: 5px;
}

.campus-logo-icon{
    width: 110%;
}

.navbar-txt-main-rect{
    width: 10%;
    margin-left: 5%;
}
.navbar-txt-main-rect1{
    width: 10%;
    margin-left: 1%;
}

.nav-bar-txt{
    font-family: 'Arial';
    font-size: medium;
    color: black;
    cursor: pointer;
    margin-left: 6%;
}

.talk-expert-rect{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    width: 15%;
    height: 8vh;
    margin-left: 3%;
    padding-right: 20px;
}

.caller-icon{
    cursor: pointer;
    width: 40px;
    margin-top: 20%;
}

.talk-expert-txt-rect{
    text-align: center;
    width: 100%;
    margin-right: 30%;
    margin-top: -65px;
    margin-left: 35%
}

.talk-expert-txt{
    font-family: 'Arial';
    font-weight: 100;
    color: black;
    cursor: pointer;
}

.talk-expert-txt1{
    font-family: 'Arial';
    margin-top: -20px;
    color: black;
    cursor: pointer;
}

.Login_in-main-btn {
    width: 320%;
    padding: 10px;
    color: white;
    font-size: large;
    background-color: rgb(0, 0, 79);
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 90%;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .Login_in-main-btn {
        width: 80%; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .Login_in-main-btn {
        width: 150%; 
        margin-left: 30%;/* Adjust width for tablets */
    }
}

@media screen and (max-width: 480px) {
    .Login_in-main-btn {
        width: 95%; /* Adjust width for mobile devices */
    }
}






